.signup-header {
	border-bottom: 2px solid black;
	display: flex;
	justify-content: end;
	background: url('./images/signup.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 20em;
}

.signup-title {
	font-size: 40px;
	margin-top: 31px;
	text-shadow:  2px 2px 60px #00bdd4; 
}

.signup-home-btn:hover {
	background-color: gray;
	border-radius: 10px;
}

.signup-headings {
	background-color: white;
	text-align: center;
	padding: 30px;
	border-bottom: 4px solid black;
	font-size: 24px;
	line-height: 30px;
}

.add-meal-form {
	width: 400px;
    margin: auto;
    margin-top: 30px;
}

.signup-sub-heading {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 24px;
	text-decoration: underline;
	color: #09adc1;
}

.all-jobs, .all-meals {
	display: flex;
	justify-content: space-around;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	padding: 40px;
	margin-bottom: 90px;
}

.inner {
  	border-left: 3px solid black;
}

.nevermind-btn:hover, .delete-job:hover {
	background-color: red;
	cursor: pointer;
	opacity: 0.9;
}

.sign-up-btn:hover {
	background-color: gray;
	cursor: pointer;
	opacity: 0.9;
}

@media only screen and (max-width: 450px) {

	.signup-header {
	    height: 12em;
	}

	.signup-title {
	    font-size: 35px;
	    margin-top: 23px;
	}

	.signup-headings {
	    padding: 22px;
	    font-size: 22px;
	}

	.all-jobs, .all-meals {
		display: block;
	    line-height: 22px;
	    padding: 9px;
	}

	.add-meal-form {
	    width: 330px;
	}
}
