/*specific for the sign in page*/
.to-forgot-password {
	text-decoration: none;
	color: black;
}

.to-forgot-password:hover {
	text-decoration: none;
	color: gray;
}

.to-dashboard {
	text-decoration: none;
	color: black;
	font-size: 30px;
	margin-left: 16%;
	padding-top: 200px;
}

.to-dashboard:hover {
	color: gray;
}

@media only screen and (max-width: 1024px) {

	.to-dashboard {
	    font-size: 25px;
	    margin-left: 118px;
	}
}

@media only screen and (max-width: 768px) {

	.to-dashboard {
	    margin-left: 63px;
	    width: 300px;
	    margin: auto;
	    text-align: center;
	    line-height: 28px;
	}
}

@media only screen and (max-width: 375px) {
	.to-dashboard {
	    width: 100px;
	}
}