/*all css for the member page, not too much needed*/
.member-home-btn-div {
	border-bottom: 2px solid black;
	margin-bottom: 20px;
	display: flex;
	justify-content: end;
	background: url('./images/members.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 31em;
   	box-shadow: 0 17px 54px -11px black;
}

.member-header {
	font-size: 40px;
	margin-top: 31px;
	color: white;
}

.member-home-btn:hover {
	background-color: white;
	border-radius: 10px;
}

.member-list {
	background-color: white;
    margin-top: 30px;
    margin-bottom: 125px;
    overflow: scroll;
    max-height: 700px;
    border-top: 3px solid #f1f1f1;
    border-bottom: 3px solid #f1f1f1;
}

@media only screen and (max-width: 1024px) {

	.member-home-btn-div {
		height: 22em;
	}
}

@media only screen and (max-width: 450px) {

	.member-home-btn-div {
	    height: 14em;
	}

}